<h1>All Articles</h1>


<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %></h2>
    <p><%= article.body %></p>
  </article>
<% end %>

